* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body, .wrapper {
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}
.content .item {
    overflow: hidden;
    width: 16%;
    height: 100%;
    background-color: #444;
    border-radius: 10px;
    /* opacity: .5; */
    cursor: pointer;
    transition: height .5s linear .5s,width .5s linear;
}
.item .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .5s linear;
}
.item .inner .bgPic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: .5;
} 
.content .item:nth-of-type(1) .inner .bgPic{
    background: url(../images/1.jpg) no-repeat 50%;
}
.content .item:nth-of-type(2) .inner .bgPic{
    background: url(../images/2.jpg) no-repeat 50%;
}
.content .item:nth-of-type(3) .inner .bgPic{
    background: url(../images/3.jpg) no-repeat 50%;
}
.content .item:nth-of-type(4) .inner .bgPic{
    background: url(../images/4.jpg) no-repeat 50%;
}
.content .item:nth-of-type(5) .inner .bgPic{
    background: url(../images/5.jpg) no-repeat 50%;
}
.content .item:nth-of-type(6) .inner .bgPic{
    background: url(../images/6.jpg) no-repeat 50%;
}
.item .inner .dir {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    opacity: 0;
   
}
.item .inner .dir .header {
    position: absolute;
    left: 50px;
    color: #f0f0f0;
}
.item .inner .dir .close {
    position: absolute;
    right: 50px;
    width: 30px;
    height: 30px;
}
.close::before, .close::after {
    content: '';
    display: block;
    margin-top: -1px;
    width: 20px;
    height: 2px;
    background-color: #f0f0f0;
}
.close::before {
    transform: rotate(45deg);
}
.close::after {
    transform: rotate(-45deg);
}
.item .inner .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0f0;
    font-size: 12px;
}
.item:hover .title {
    font-size: 18px;
    transition: font-size 0.2s linear;
}
.item:hover .inner .bgPic {
    opacity: 1;
    transition: opacity 0.2s linear;
}
.init .item .inner {
    transform: translateY(100%);
}
.content .item:nth-of-type(1) .inner {
    transition-delay: 0.2s
}
.content .item:nth-of-type(2) .inner {
    transition-delay: 0.4s
}
.content .item:nth-of-type(3) .inner {
    transition-delay: 0.6s
}
.content .item:nth-of-type(4) .inner {
    transition-delay: 0.6s
}
.content .item:nth-of-type(5) .inner {
    transition-delay: 0.4s
}
.content .item:nth-of-type(6) .inner {
    transition-delay: 0.2s
}
.wrapper-active .content .item{
    transition: width .5s linear .5s, height .5s linear .5s;
}
.item.active {
    width: 100%;
}
.wrapper-active .item:not(.active){
    width: 0%;
    height: 0%;
}
.wrapper-active .item .inner .dir {
    opacity: 1;
    transition: opacity .2s linear .5s;
}
.wrapper-active .inner .title {
    opacity: 0;
}